.expense {
  display: flex;
  flex-direction: column;
  width: 532px;
  margin-bottom: 2rem;

  .expense-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    line-height: 12px;
  }

  .expense-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    .ingridients {
      width: 33%;
      text-align: left;
    }
    .ingridients-parts {
      font-weight: bold;
    }
    .amount {
      width: 33%;
      text-align: center;
    }

    .cost {
      width: 33%;
      text-align: right;
    }
  }
}
