.expense {
  display: flex;
  flex-direction: column;
  width: 532px;

  .expense-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
  }

  .expense-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    border: 20px;
    border-color: aqua;

    .ingridients {
      width: 33%;
      text-align: left;
    }

    .amount {
      width: 33%;
      text-align: center;
    }

    .cost {
      width: 33%;
      text-align: right;
    }
  }
}
