.total {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 612px;
  height: 194px;
  left: 0px;
  top: 598px;

  background: #ffdc27;

  .total-title {
    margin-top: 45px;
    margin-right: 40px;
    margin-bottom: 13px;
    text-align: right;
    height: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    color: #111118;
  }

  .total-price {
    margin-top: 0px;
    margin-right: 40px;
    height: 47px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    text-align: right;
  }

  .total-due {
    margin-top: 3px;
    margin-right: 40px;
    margin-bottom: 14px;
    height: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: right;
  }
}
